@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .min-section-height {
    min-height: calc(100vh - 55px);
  }
  .rounded-full-left {
    border-radius: 100px 0 0 100px;
  }
  .bg-image-1 {
    background-image: url("..//assets/about_bg1.png");
  }
  .bg-image-2 {
    background-image: url("..//assets/about_bg2.png");
  }

  .bg-image-trending-food {
    background-image: url("..//assets/japanese_sushi.png");
  }
  .bg-image-trending-drink {
    background-image: url("..//assets/japanese_drinks.png");
  }

  .filter-btn-bg {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  .filter-btn-bg-hover {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  .filter-btn-bg-focus {
    background-color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
}
@layer components {
  .filter-btn {
    @apply px-4 py-2 filter-btn-bg rounded-full focus:filter-btn-bg-focus focus:text-primary hover:filter-btn-bg-hover transition-all duration-200 ease-in-out;
  }
  .filter-btn-with-img {
    @apply filter-btn flex gap-2 items-center;
  }
  .food-card-sm {
    @apply bg-white-100 px-10 py-6 rounded-3xl border-solid border-[1px] border-white-200 hover:bg-white-200 transition-all duration-200 ease-in-out flex flex-col items-center justify-center gap-8;
  }
  .check-img {
    @apply bg-primary py-2 px-[6.5px] rounded-full;
  }

  .trending-img {
    @apply bg-white bg-contain bg-center bg-no-repeat flex-1 relative px-20 py-20 flex justify-center items-center;
  }

  .brand-logo {
    @apply w-8 h-8 flex justify-center items-center rounded-full;
  }
}
